name: Verify Quarkus Build Caching Extension
permissions:
  contents: read

on:
  schedule:
    # Every Sunday at 9.00am - scheduled to test against latest Quarkus version
    - cron: "0 9 * * 0"
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  verification:
    name: Verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Set up JDK 17
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Build with Maven
        run: |
          ./mvnw --batch-mode clean package integration-test
        env:
          DEVELOCITY_ACCESS_KEY: ${{ secrets.DV_SOLUTIONS_ACCESS_KEY }}
      - name: Upload integration tests reports (on failure only)
        if: ${{ failure() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: Integration tests logs
          path: |
            target/it/**/*.log
